---
// Component Imports
import MainLayout from '../layouts/MainLayout.astro';

---
<MainLayout title = "Contact">
<section id="join-page-1">
<h1>Contact us</h1>
<h3>We'd love to hear from you</h3>
<div class="two-column-section">
    <div class="column one">
        <form name="contact" method="POST" id="contact" action="/contact" netlify>
            <label for="name">Name</label>
            <input type="text" id="name" name="name">
            <label for="email">Email address</label>
            <input type="email" id="email" name="email">
            <label for="message">Message</label>
            <textarea name="message" id="message" cols="30" rows="10" required aria-required="true"></textarea>
            <input type="submit" name="submit" value="Submit">
            <input type="reset" name="reset" value="Reset">
        </form>
                    <p>You can also contact us directly via <a href="mailto:greatercanberra@gmail.com">email</a>, or join our Discord server.</p>
    </div>
    <div class="column two">
    <div class="long-image-container">
        <img class="full-height" src="/assets/library.jpg" alt="">
    </div>
    </div>
</div>
</section>
</MainLayout>