---
// Component Imports
import MainLayout from '../layouts/MainLayout.astro';
import BigCard from '../components/BigCard.astro';
import ArticleFeed from '../components/ArticleFeed.astro'

---

<MainLayout title = "Greater Canberra">
		<section id="front-page-1">
			<BigCard>
				<h1>Let's say yes to <span class="highlight blue">affordable</span> housing</h1>
				<img class="aside" src="/assets/canberra1.jpg">
				<h3>We're on a mission to make our city more affordable, liveable, and sustainable</h3>
				<p>We believe the best way to reduce rents and house prices is to build more housing. We believe in a future where housing is abundant, and where everyone can enjoy a more sustainable and liveable city.</p>
				<p>Together with our members, we’re making this future a reality.</p>
				<a class="primary-link" href="../join">Join us</a>
			</BigCard>
		</section>
		<div class="middle-segment">
			<section id="front-page-2">
				<div class="two-column-section reversed">
					<div class="column one">
										<h2>It's time for Canberra to build <span class="highlight orange">more homes</span></h2>
																<h3>Let’s legalise housing</h3>
						<p>Harmful planning policies currently make it too hard to build the kinds of affordable, sustainable housing we need.</p>
						<p>By reforming our planning laws to enable more housing choices in high demand neighbourhoods, we can lower house prices and grow our local economy.</p>
						<p>By building up rather than out, we can reduce damaging urban sprawl, shorten commute times, and lower our carbon footprint.</p>
						<a class="primary-link right" href="/news">Learn more</a>

					</div>
					<div class="column two">
												<img class="graph" src="/assets/canberra_house_prices.png" alt="Graph showing Canberra house prices increased by 139% and rental prices by 79% since 2003">
							<h3>High housing costs mean we all lose out</h3>
						<p>All of us want to be able to afford to live near family, jobs and community. But our current high rents and house prices mean many Canberrans are facing severe financial stress. By building more housing in growth areas, we can stop the skyrocketing prices, and free up more money to spend in the local community.</p>
						<a class="primary-link right" href="/news">Learn more</a>
					</div>
				</div>
			</section>
		</div>
		<section id="front-page-3">
			<h2>How <span class="highlight green">you</span> can make a difference</h2>
				<div class="bubbles">
				<div class="bubble">
					<div class="bubble-img">
						<img src="/assets/hands.svg" alt="">
					</div>
					<h3>Show up</h3>
					<p>Will your suburb have vibrant, walkable neighbourhoods or endless sprawl?</p>

				<p>Decisions about the types of development to allow are made in local consultations - which often represent only the interests of existing property values. Our consultations team can connect you with meetings in your area. You can make a difference for housing affordability in Canberra just by turning up and being heard.</p>
				</div>
				<div class="bubble">
					<div class="bubble-img">
						<img src="/assets/chat.svg" alt="">
					</div>
					<h3>Speak out</h3>
					<p>We know Canberrans want affordable housing and a beautiful, vibrant city. But many don’t see the link between better zoning policies and this better vision. Our communications team is working to change that through traditional media, social media and publications.</p>
				</div>
				<div class="bubble">
					<div class="bubble-img">
						<img src="/assets/write.svg" alt="">
					</div>
					<h3>Write in</h3>
					<p>How do you think Canberra’s zoning laws should change? What should the territory allow to be built? As Canberra’s housing affordability advocacy group, we’re often invited by government to have a say on zoning decisions and planning reform. We work with our community to research and develop informed viewpoints on critical issues.</p>
				</div>
			</div>
			<a href="/get_involved" class="primary-link right">Become a member</a>
		</section>
</MainLayout>

