---
import MainLayout from '../layouts/MainLayout.astro';
import MailChimp from '../components/mailchimp.astro'
---

<MainLayout title="Mail" description="Greater Canberra is a community advocacy group committed to affordable and high-quality housing in Canberra.">

<section>
<h1>Join the Greater Canberra mailing list</h1>
<p>You'll receive 1-2 emails per month.</p>
<p>You'll receive emails about:</p>
<ul>
<li>Important and contested developments in your local area</li>
<li>Major campaigns and petitions Greater Canberra are running</li>
<li>Events you can attend</li>
</ul>
    <MailChimp/>
    <!-- <form name="mailing list" action="/mail">
        <input type="email">
        <button class="form-button" type="subscribe" name="subscribe">Subscribe</button>
    </form> -->
</section>
</MainLayout>