---
import MainLayout from '../layouts/MainLayout.astro';
import BigCard from '../components/BigCard.astro';
---

<MainLayout title="Our values">
<section>
<h1>Our values</h1>
<p>We advocate and campaign on many specific developments and proposals. The positions we take and the developments we oppose and support are all rooted in our core values.</p>
<p>We want a city where people can afford to buy and rent, one where people enjoy living, and one which plans to uphold these goals into the future. This is our core goal: Canberra should be liveable, sustainable and affordable.</p>
</section>

<section>
<BigCard>
<h2>A more <span class="highlight orange">liveable</span> Canberra</h2>
<img class="aside" src="/assets/kingston.jpg">
<p>At Greater Canberra, we believe better planning policy can create a more liveable city.</p>
<p>A liveable city is more than just a space between home and work. We believe every aspect of the city, from its parks, to its shops, to its public amenities, should make a positive impact on the lives of Canberrans.</p>
<p>We value walkability. Walking should be a viable way to get around Canberra. Everyone should have the opportunity to live within walking distance of shops and essential services. Walking routes should be plentiful and accessible to all.</p>
<p>We value public transport. Links between urban centres should be frequent and reliable, so Canberrans dont need to stress or plan - we can just hop on and go.</p>
<p>We value vibrant public spaces - areas outside of home and work where Canberrans can relax and enjoy the city. These spaces should be engaging, accessible, and open to all.</p>
<p>We value a diversity of housing. Canberra should be a place where we innovate with new types of housing to support new types of communities. Planning laws should reflect the different needs and preferences of different families. </p>
<p>We value inclusive housing. Housing should be accessible to people with disabilities and able to accomodate families of all shapes and sizes. Canberra should provide plentiful housing options to ensure the elderly can age in place. </p>
</BigCard>
</section>

<section>
<BigCard>
<h2>A city that is <span class="highlight green">sustainable</span></h2>
<img class="aside" src="/assets/bus.jpg">
<p>Greater Canberra is working to make our city more sustainable. Canberra is a growing city, and we must plan for the needs of future residents, while also ensuring we care for the environment, reduce our carbon emissions, and improve urban air quality.
</p>
<p>We value sustainable development practices. We should build things to last, encourage low-carbon buildings, and maintain our commitment to recycling construction materials. 
</p>
<p>We value low-carbon transit. We believe Canberra should prioritise investment in walking, cycling and transit. We should enable and support electric vehicles of all kinds.
</p>
<p>We value planning for the future. Canberra’s population will keep growing, and we need to build enough homes to house them in. 
</p>
<p>We value sustainable housing growth. We believe we can house the next generation of Canberrans through better use of the space we have, not endless sprawl that damages our natural environment. We celebrate the success of projects like parking space infill and subdivision to increase housing supply.
</p>
</BigCard>
</section>

<section>
<BigCard>
<h2>A city where housing is <span class="highlight blue">affordable</span></h2>
<img class="aside" src="/assets/belco.jpg">
<p>We believe that by building more housing, we can make Canberra affordable for all. 
</p>
<p>For most Canberrans, the ability to afford a home is the difference between economic security and financial stress. Today, many Canberrans struggle to afford a home, unless they already own a property, or are helped by someone who does. This hurts our economy and damages the social fabric of our city. We believe that with the right policies, all Canberrans can afford to live with dignity.
</p>
<p>We value housing security for all Canberrans. Nobody should be in housing stress, whether they rent or own, and no-one should be without a home.
</p>
<p>We believe the average Canberran should be able to afford the average Canberran home. Someone earning an average  income should be able to work towards and achieve an average-priced house.
</p>
<p>We believe people should be able to live where they work. No one should be forced to turn down a job because they can’t afford to live nearby. A city where workers face long commutes entrenches inequality and limits mobility.
</p>
<p>We believe increasing the number of homes is the only path to ensuring affordable housing for all Canberrans. Abundant housing will reduce housing stress, reduce house prices, and remove barriers to social and economic equality for all Canberrans. 
</p>
</BigCard>
</section>

</MainLayout>
