---
let {type} = Astro.props;
---

 <ul class={type}>
    <li>
        <a href="/about">Who we are</a>
    </li>
    <li>
        <a href="/values">Our values</a>
    </li>
    <li>
        <a href="/news">News</a>
    </li>
    <li>
        <a href="/contact">Contact</a>
    </li>
    <li>
        <a href="/get_involved">Get involved</a>
    </li>
</ul>
