---
import NavList from '../components/NavList.astro';
let {title} = Astro.props;
let {seo_thumbnail} = Astro.props;
const path = Astro.site.pathname;
---

<html lang="en">
<head>
    <meta property="og:image" content={seo_thumbnail}>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Oswald:wght@400;500&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>	<meta charset="UTF-8">
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <meta name="viewport" content="width=device-width">
    <title>{title} | Greater Canberra</title>

    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <style global>
        @import "../styles/global.css";
    </style>
</head>

<body onload="myFunction();">
<script>
function expandMenu() {
    menu = $(".mobile-menu");
    menu.slideToggle();
    menu_toggle = $("#menu-toggle");
    if(menu_toggle.attr("aria-expanded") == "false"){
        menu_toggle.attr("aria-expanded", "true")
    } else{
        menu_toggle.attr("aria-expanded", "false")
    } 
}
var current_title = $(document).attr('title');
current_title = current_title.split(" |")[0]
function myFunction() {
$(".nav-container a").each(function() { 
        console.log($(this).text());
        if($(this).text().includes(current_title)){
            $(this).addClass("active")
            $(this).attr("aria-current", "page")
        }
    });    
}

</script>
    <header>
        <a class="skip-link" href="#main">Skip to main content</a>
        <nav class="site-nav" role="navigation">
        <div class="nav-container">
            <div class="nav-topper">
                <a href="/" aria-label="home" class="logo">
                    <img src="/assets/gc-logo-black.png" alt="Greater Canberra logo">
                    Greater Canberra
                </a>
                <button id="menu-toggle" aria-expanded="false" aria-controls="menu" class="menu-toggle" onclick="expandMenu()"><img src="assets/hamburger_icon.svg" alt=""></button>
            </div>                    
            <NavList type = "menu desktop-menu"/>
            <NavList type = "menu mobile-menu"/>
            </div>
        </nav>
    </header>
        <main id="main">
            <slot></slot>
        </main>
    <footer>
        <p>Authorised by Howard Maclean for Greater Canberra Inc.</p>
        <div id="sm-links">
            <a class="sm-link" href="https://www.facebook.com/GreaterCanberra"><img src="/assets/fb.svg" alt=""></a>
            <a class="sm-link" href="https://twitter.com/GreaterCanberra"><img src="/assets/twitter.svg" alt=""></a>
        </div>
    </footer>
<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>

</body>
</html>